* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
}

/* Main Content Styling */
.content {
  padding: 50px;
  /* line-height: 1.6; */
  background-color: #f5f5f5;
  font-size: 20px;
  min-height: 200dvh; /* Make the page tall so you can scroll */
}

/* Make sure no parent (like <body>) has overflow: hidden or overflow: auto,
because that breaks sticky positioning.
 There’s no position: relative or other conflicting styles on parents */
header {
  position: sticky;
  top: 0;
  right: 0;
  /* width: 100%; */
  z-index: 1000; /* The z-index ensures the sticky header stays above the page content. 
   If set to a negative value, the content layers over the header, 
   which you can verify by giving the content a transparent background 
   and seeing it peeking through or covering the sticky area. */
  background-color: navy;
  padding: 15px;
}

.navbar {
  display: flex;
  justify-content: center;
  gap: 30px;
  /* color: white; */
}

/* Navbar Styling */
.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.navbar a:hover {
  text-decoration: underline;
}

.content p {
  padding: 50px;
}

/* Fixed Message Box Styling */
.message-box {
  position: fixed;
  bottom: 10px;
  right: 10px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.message-box span {
  font-size: 30px;
  background-color: teal;
  color: white;
  padding: 15px 20px;
  border-radius: 10px;
  cursor: pointer;
}
