* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ff4d4d;
  padding: 15px 0;
  color: #ffff;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  list-style: none; /*removes bulleting*/
}

nav ul li a {
  text-decoration: none; /*removes underline*/
  color: white;
  font-size: 1.2rem;
}

#hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/bg-1.png);
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffff;
}

#hero .hero-content {
  color: white;
}
